<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts >0,
                'list-group-item-danger': loveIts <0}">
  <!--
  <div style="width:50px;height:20px;background-color:green;"
       *ngIf="appareilStatus === 'allumé'"></div>-->

  <h2> {{ title }}</h2><p align="right">{{created_at}}</p>
  <p>{{content}}</p>

  <button class="btn btn-success" (click)="onIncrementLoves()">
          Love it</button>

  <button class="btn btn-danger" (click)="onDecrementLoves()">
    Don't love it</button>
</li>
